* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #333;
    color: #f0f0f0;
}

body.dark .container {
    background-color: #444;
}

body.dark textarea {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#toggle-theme-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#toggle-theme-btn:hover {
    transform: scale(1.05)
}

.note-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-note-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-note-btn:hover {
    background-color: #218838;
}

.notes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note p {
    flex: 1;
    margin-right: 10px;
    word-break: break-word;
}

.note button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.note button:hover {
    background-color: #c82333;
}

.note pre {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0;
    flex: 1;
}
